
   
  ::placeholder {
    color: white;
  }

  
  .spanServiceError {
    width: 200px;
    color: darkorange;
    text-align: center;
    padding-top: 70px;
  }

  .spanInputError {
    color: darkorange;
  }  

  .registroExitoso {
    width: 100%;
    text-align: center;
    padding-top: 28px;
    height: 70vh;
    padding: 75px 75px 75px 75px;
  } 
  
  @media only screen and (max-width: 600px) {
    .register__container {
      background-color: transparent;
      border: none;
      box-shadow: none;
      padding: 0px;
      padding-top: 30px;
      width: 100%;
    }
    .a{
      text-align: center;
    }
    
  }
  .register-check{
    margin-left: 20px;
  }
  .check-custom{
    box-shadow: #00ca92 0px 0px 0px 3px;
    height: 1.25rem;
    left: 0px;
    top: 0px;
    width: 1.25rem;
    border-radius: 3px;
  }