
   
  ::placeholder {
    color: white;
  }

  
  .spanServiceError {
    width: 200px;
    color: darkorange;
    text-align: center;
    padding-top: 70px;
  }

  .spanInputError {
    color: darkorange;
  }  

  .registroExitoso {
    width: 50%;
    text-align: center;
    padding-top: 28px;
    
  }

  .btn-primary:disabled {
    cursor: none;
    pointer-events: none;
    background-color: gray;
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
  
  @media only screen and (max-width: 600px) {
    .register__container {
      background-color: transparent;
      border: none;
      box-shadow: none;
      padding: 0px;
      padding-top: 30px;
      width: 100%;
    }
    .a{
      text-align: center;
    }
    
  }