.form-container{
  max-width: 400px;
}
.login-separator{
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 45% 10% 45%;
  grid-template-columns: 45% 10% 45%;
  margin: 2rem 0;
}

.striped-border 
{ 
  border: 0.5px solid #a59595 !important;
  margin: auto;
  width: 85%;
}