.field-inactive {
  color: rgb(118, 118, 118);
    cursor: text;
    font-size: 0.88rem;
    font-weight: 500;
    left: 1rem;
    max-width: 90%;
    position: absolute;
    text-overflow: ellipsis;
    top: 1rem;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.2s ease-in-out 0s;
 }

.field-active {
  font-size: .75rem;
  top: 0.1rem;
  color: rgb(118, 118, 118);
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff;  
 }
.floating-label {
  -webkit-appearance: none !important;

}

.input-group-custom{
  position: relative;
}